@charset "utf-8";
.header {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 36px;
	color: #1A038E;
	width: 700px;
	text-align: center;
}
